<div id="temp_chart" style="height: 400px; min-width: 310px" data-date="<%= @data[0]["date"]%>" data-hcm="<%= @data[0]["hcm"]%>" data-tokyo="<%= @data[0]["tokyo"]%>"></div>

<div id="container" style="width: 310px; height: 400px; margin: 0 auto"></div>
