<%= @user.name %>
<br>
<%= @user.birthday %>
<div id="student_point_chart" style="min-width: 800px; max-width: 1000px; height: 600px; margin: 0 auto" data-name="<%= @user.name %>" data-point="<%= @point %>"></div>
